<div class="row">
    <div class="col-md-5">
        <form [formGroup]="this.employeeService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <div class="form-group">
                <label>Name:</label>
                <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.fullName.errors}">
                <div class="invalid-input" *ngIf="submitted && formControls.fullName.errors">
                    Invalid Input
                </div>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
                <div class="invalid-input" *ngIf="submitted && formControls.email.errors">
                    Invalid Input
                </div>
            </div>
            <div class="form-group">
                <label>Mobile:</label>
                <input formControlName="mobile" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.mobile.errors}">
                <div class="invalid-input" *ngIf="submitted && formControls.mobile.errors">
                    Invalid Input
                </div>
            </div>
            <div class="form-group">
                <label>Location:</label>
                <input formControlName="location" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary">
            </div>
        </form>
        <div class="alert alert-info" *ngIf="showSucessMessage">
            Details Submitted Sucessfully
        </div>
    </div>
    <div class="col-md-7">
        <app-employee-list></app-employee-list>
    </div>
</div>