<form class="form-inline">
    <input class="form-control" name="search" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" >
    <button class="btn btn-outline-primary" (click)="searchText=''">Clear</button>
</form>
<table class="table table-sm">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Location</th>
    </thead>
    <ng-container *ngFor="let employee of employeeArray">
        <tr class="table-dark" *ngIf="filterCondition(employee)">
            <td>{{ employee.fullName }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.mobile }}</td>
            <td>{{ employee.location }}</td>
            <td>
                <button class="btn btn-outline-info" (click)="employeeService.populateForm(employee)">Edit</button>
                <button class="btn btn-outline-danger" (click)="onDelete(employee.$key)">Delete</button>
            </td>
        </tr>
    </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeleteMessage">
    Entry Deleted Sucessfully.
</div>